$color: #ababab;

$tablet: 1024px;
$mobile: 540px;

//usage: @include calc(width, "100% - 40px");
@mixin calc($property, $expression) {
	#{$property}: calc(#{$expression});
}

//usage: @include filter(grayscale, 100%);
@mixin filter($filter-type, $filter-amount) {
	filter: $filter-type+unquote('(#{$filter-amount})');
}