$color: #ababab;

$tablet: 1024px;
$mobile: 540px;

//usage: @include filter(grayscale, 100%);
@mixin filter($filter-type, $filter-amount) {
    filter: $filter-type+unquote('(#{$filter-amount})');
}

//usage:
//@include keyframes(spin) {
//    from { transform: rotate(0deg); }
//    to { transform: rotate(359deg); }
//}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

//usage: @include animation('spin 1s linear infinite');
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}